/*
==============================================================
Variables
ref-https://www.schemecolor.com/black-and-red-color-combination.php
==============================================================
*/
:root {
  --dark-red-UERed: #bb000e;
	--red-Lust: #e31c25;
	--black-EerieBlack:#1c1c1c;
	--black-ChineseBlack: #161616;
  --white-plain:#fff;
  --transparent:transparent;
}
/*
==============================================================
Fonts
font-family: 'Genos', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Source Code Pro', monospace;
==============================================================
*/
/*
==============================================================
CSS Reset
==============================================================
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {width: 100%;}
body {
	font-family: 'Genos', sans-serif;
  background-color: var(--black-EerieBlack);
  font-size:100%;
	line-height: 1;
}
/*
================================================================================
Main Structure Styles
================================================================================
*/
#siteWrapper {
  background-color: transparent;
}
#mainHeader {
  grid-area: header;
  text-align: center;
	padding: 1% 1%;
}
#mainHeader img {
	grid-area: avatar;
	margin: 20px 0;
	border-radius: 50%;
	max-height: 200px;
	max-width: 200px;
}
#mainHeader .mainNav {
  grid-area: mainMenu;

}
#siteContent {
  grid-area: main;
	padding: 1% 2%;
}
#siteContent article {
	background-color: var(--dark-red-UERed);
	border-radius: 5px;
	text-align: center;
	margin-bottom: 15px;
	padding: 2.5% 0%;
}
#mainFooter {
  grid-area: footer;
	text-align: center;
}
/*
================================================================================
Navigation Styles
================================================================================
*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: relative;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}
.nav-link:hover{
    color: #482ff7;
}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: relative;
        left: -9999%;
        top: 5rem;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px var(--dark-red-UERed);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
/*
==============================================================
page styles
==============================================================
*/
#siteContent.page {
  background-color: var(--white-plain);
  margin: 0 10px 0 10px;
  border-radius: 3px;
}
/*
==============================================================
Headings
==============================================================
*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Press Start 2P', cursive;
		margin-bottom: 10px;
		color: var(--red-Lust);
}
h1 {

	grid-area: siteTitle;
	font-size: 2.5rem;
	text-align: center;
	color: var(--dark-red-UERed);
}
h2 {
	font-size: 2.25rem;
}
/*
==============================================================
typography
==============================================================
*/
a {color: var(--white-plain);text-decoration: none;}
a:hover{color:#ccc;}
/*
==============================================================
Responsive
==============================================================

@media (min-width:600px) {
  #mainHeader {
  		display: grid;
  		grid-template-columns: 10% 90%;
  		grid-template-areas:
            "avatar siteTitle"
            "avatar mainMenu"
  	}
  	#siteContent {
  		display: grid;
  		grid-template-columns: 32% 32% 32%;
  	 	column-gap: 2%;
  	 	row-gap: 2%;
  		padding: 1%;
  	}
}
*/
