/*
==============================================================
Variables
ref-https://www.schemecolor.com/black-and-red-color-combination.php
==============================================================
*/
:root {
  --red-dark: #941305;
  --red-light: #cc2c11;
  --black: #030303;
  --blue: #145b9c;
  --grey: #747d90;
  --transparent: transparent;
  --white: #fff;
}
/*
==============================================================
Fonts
font-family: 'Genos', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Source Code Pro', monospace;
==============================================================
*/
/*
==============================================================
CSS Reset
==============================================================
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  padding: 1%;
}
article {
  border: 1px solid var(--red-light);
  color: #000;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 15px;
  background-color: var(--white);
  box-shadow: 0 5px 5px var(--red-dark);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100%;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
body {
  font-family: "Source Code Pro", monospace;
  background-color: var(--black);
  font-size: 100%;
  line-height: 1;
  text-align: center;
  color: var(--white);
}
p {
  margin: 1em 1em;
}
a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  color: var(--grey);
}
/*
==============================================================
Headings
==============================================================
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
  margin: 20px 0 15px 0;
  color: var(--red-dark);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.9rem;
}
h4 {
  font-size: 1.6rem;
}
/*
================================================================================
Main Structure Styles
================================================================================
*/
#mainHeader,
#navbar,
#siteWrapper,
#siteContent,
#disclaimer,
#mainFooter {
  padding: 1%;
}
/*
================================================================================
header Styles
================================================================================
*/
#mainHeader img {
  margin: 20px 0;
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
}
@media only screen and (min-width: 1100px) {
  #mainHeader a {
    display: grid;
    grid-template-columns: 80% 20%;
  }
  #mainHeader h1 {
    align-self: center;
  }
}
/*
================================================================================
Navigation Styles
================================================================================
*/
#navbar {
  font-family: "Genos", sans-serif;
  display: block;
  top: 2rem;
  width: 100%;
  font-size: 1.5em;
}
#navbar a {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  color: var(--red-dark);
  border-radius: 3px;
  box-shadow: 0 5px 5px var(--red-dark);
}
#navbar ul {
  display: none;
  justify-content: space-around;
}
#navbar ul.active {
  display: block;
}
#navbar ul li a {
  display: block;
}
@media (min-width: 600px) {
  #navbar > a {
    display: none;
  }
  #navbar ul {
    display: flex;
  }
}
/*
================================================================================
Content Area
================================================================================
*/
@media only screen and (min-width: 815px) {
  #siteContent {
    /*
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: .33%;
    font-size: 1em;
    justify-content: space-evenly;
    */
  }
  #siteContent h2,
  #siteContent h3 {
    grid-column: 1 / 4;
  }
  #siteContent .twitter {
  }
  #disclaimer {
    margin-top: 70px;
  }
}
/*
==============================================================
responsive points
==============================================================
@media only screen and (min-width: 600px)
@media only screen and (min-width: 800px)
@media only screen and (min-width: 1000px)
@media only screen and (min-width: 1100px)
*/
